@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap");
html {
  scroll-behavior: smooth !important;
}

* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, p {
  font-family: "Roboto Slab", serif;
  color: #e4cdcd;
}

i, b {
  color: white;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  padding: 20px;
  z-index: 2;
  width: 97.9%;
  position: fixed;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}
.navbar__title {
  font-size: 30px;
  color: white;
}
.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
}
.navbar__list_item {
  font-size: 20px;
  color: white;
  margin-right: 30px;
  text-decoration: none;
}
.navbar__list_item:last-child {
  margin-right: 0px;
}
.navbar__list_item:hover {
  color: rgba(255, 255, 255, 0.5);
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
}
.wrapper__block {
  position: relative;
  width: 100%;
  height: 100%;
  top: 79px;
  background-blend-mode: multiply;
}
.wrapper__block:nth-child(2) {
  background: #f00 url(img/SvWWN.png);
  background-size: cover;
  background-attachment: fixed;
}
.wrapper__block:nth-child(3) {
  background: #ae00ff url(img/pexels-anand-dandekar-1532771.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.wrapper__block:nth-child(4) {
  background: #ff7b00 url(img/pexels-craig-adderley-1563356.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.wrapper__content {
  position: absolute;
  top: 80px;
  left: 50px;
  max-width: 700px;
}
.wrapper__content_title {
  font-size: 40px;
  margin-bottom: 30px;
}
.wrapper__content_text {
  font-size: 20px;
}
.wrapper__content.align-right {
  left: unset;
  right: 50px;
}